.flex.min-h-0.md:min-h-svh.justify-center.items-center.p-8
  .max-w-md
    %h1
      System Langhans
      %br
      Nová publikace o odkazu Ateliéru Langhans

    = form_with model: @order do |form|
      - if @order.errors.any?
        %div{:style => "color: red"}
          %h2
            = pluralize(@order.errors.count, "error")
            prohibited this order from being saved:
          %ul
            - @order.errors.each do |error|
              %li= error.full_message
      = form.text_field :firstname,  placeholder: "First Name", class: "input"
      = form.text_field :lastname, placeholder: "Last Name", class: "input"
      = form.text_field :email, placeholder: 'Email', class: "input"
      = form.text_field :phone, placeholder: 'Phone', class: "input"
      = form.label :quantity, style: "display: block"
      = form.number_field :quantity, in: 1..33, step: 1, class: "input"
      %div
        = form.label :packettery_branch_id, style: "display: block"
        = form.number_field :packettery_branch_id, class: "input"
        %button{onclick: "Packeta.Widget.pick('', packettery_callback); return false", class: "px-6 py-3 bg-gray-700 text-white  hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-500"}
          Select packettery branch
      %div#selected_packettery_name
      %div.justify-center.flex.mt-4
        = form.submit class: 'px-6 py-3 bg-blue-600 text-white  hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-neutral-950'

.flex.min-h-0.md:min-h-svh.summary.bg-kniha-langhans.justify-center.items-center
